@import "_mixins";
@include font-face("Helvetica", "../fonts/HelveticaLTStd-LT", null, null, "otf");

$dark-green: #00916e;
$light-green: #6cbba8;
$red: #f61726;

body {
    background: rgb(60, 60, 60);
    font-family: "Helvetica";
    font-size: 3rem;
}

.main-container {
    min-height: 70vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.player-container {
    background: white;
    border-radius: 1rem;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    max-width: 100rem;
    padding: 4rem;
    padding-bottom: 1rem;

    &:after {
        content: "";
        background: black;
        position: absolute;
        top: -50px;
        right: -50px;
        left: -50px;
        bottom: 0;
        height: 150px;
        transform: rotate(-5deg);
        z-index: -1;
    }
}

#cover {
    img {
        width: 200px;
        height: 250px;
    }
}

#info {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    
    #title {
        color: white;
        background: $dark-green;
        padding: 15px 30px;
        line-height: 80px;
        font-weight: bold;
        font-size: 3.5rem;
    }

    #artist {
        color: white;
        background: $light-green;
        padding: 15px 30px;
        line-height: 50px;
    }

    #elapsed-time {
        color: $red;
        text-align: right;
    }
}

.social-link {
    background: black;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: relative;
    color: white;
    line-height: 50px;
    padding: 5px;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        left: -5px;
        bottom: -5px;
        border: 2px solid black;
        border-radius: 100px;
    }
}