@import "_mixins";
@include font-face("Helvetica", "../fonts/HelveticaLTStd-LT", null, null, "otf");

$dark-green: #00916e;
$light-green: #6cbba8;
$red: #f61726;

body {
    background: rgb(60, 60, 60);
    font-family: "Helvetica";
    font-size: 3rem;
}

.main-container {
    min-height: 70vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.player-container {
    background: white;
    border-radius: 1rem;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    max-width: 100rem;
    padding: 4rem;
    padding-bottom: 1rem;

    &:after {
        content: "";
        background: black;
        position: absolute;
        top: -90px;
        right: -50px;
        left: -50px;
        bottom: 0;
        height: 230px;
        transform: rotate(-7deg);
        z-index: -1;
    }
}

#cover {
    img {
        width: 200px;
        height: 250px;
    }
}

#media-controls {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    margin-top: 2rem;
}

#player-controls {
    display: flex;
    justify-content: center;

    a {
        display: inline-block;
        height: 75px;
        width: 75px;
        background-size: 75px;
        background-repeat: no-repeat;
        transition: 0.25s linear;
        border-radius: 50px;
        background-color: $red;

        &:hover {
            box-shadow: 2px 2px 2px #ccc;
            transform: scale(1.05);
        }

        &.play {
            background-image: url('../img/play-button.png');
        }

        &.pause {
            background-image: url('../img/stop-button.png');
        }
    }
}

#volume-controls {
    display: flex;
    justify-content: space-around;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

    a {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-color: $dark-green;
        border-radius: 30px;
        color: white;
        line-height: 30px;
        font-size: 20px;
        margin-top: 1px;
        transition: 0.25s linear;

        &:hover {
            background-color: $red;
            transform: scale(1.2);
        }

        i {
            width: 30px;
            text-align: center;
            line-height: 30px;
        }

        &#volume-up {
            margin-left: 1px;
        }
    }

    #volume-bar {
        width: 100px;
        height: 45px;
        background-image: linear-gradient(90deg, #00916e 33.33%, #ffffff 33.33%, #ffffff 50%, #00916e 50%, #00916e 83.33%, #ffffff 83.33%, #ffffff 100%);
        background-size: 18.00px 18.00px;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            top: -30px;
            right: 0;
            left: -25px;
            bottom: 0;
            width: 120px;
            height: 50px;
            background: white;
            position: absolute;
            -webkit-transform: rotate(-35deg);
            transform: rotate(-20deg);
        }
    }

    #volume-value {
        display: inline-block;
        height: 45px;
        background-image: linear-gradient(90deg, #f61726 33.33%, #ffffff 33.33%, #ffffff 50%, #f61726 50%, #f61726 83.33%, #ffffff 83.33%, #ffffff 100%);
        background-size: 18.00px 18.00px;
        transition: 1s linear;
    }
}

#info {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    
    #title {
        color: white;
        background: $dark-green;
        padding: 15px 30px;
        line-height: 80px;
        font-weight: bold;
        font-size: 3.5rem;
    }

    #artist {
        color: white;
        background: $light-green;
        padding: 15px 30px;
        line-height: 50px;
    }

    #elapsed-time {
        color: $red;
        text-align: right;
    }

    #time-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
    }
}

.social-link {
    background: black;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: relative;
    color: white;
    line-height: 50px;
    padding: 5px;
    text-align: center;
    transition: 0.2s linear;

    &:hover {
        transform: scale(1.1);
        background: $red;
    }

    &:after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        left: -5px;
        bottom: -5px;
        border: 2px solid black;
        border-radius: 100px;
    }
}

progress {
    background: $dark-green;
}

progress{
    background: $red;
    height: 12px;
    padding: 3px 0px;
    width: 100%;
}

progress::-moz-progress-bar {
    background: $dark-green;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background: yellow;
    }
}